# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# dotenv environment files
.env

# OS files
.DS_Store
Thumbs.db

# Uploaded or generated images (optional if stored locally)
public/images/

# IDE/editor folders
.vscode/
.idea/
